body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: center;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .card {
    margin: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(25,25,25);
    transition-duration: 0.15s;
    text-decoration: none;
    cursor: pointer;
    border-left-style: solid;
    border-left-width:0px;
  }
  
  
  
  .about-section {
    text-align: start;
    background-color:rgb(15,15,15);
    color: white;
  }
  
  .about-section img {
    float: left;
    width: 38px;
    height: 38px;
  }
  
  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  h1 {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 50px;
  color:white;
  line-height: 15px;
  }
  
  p {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 15px;
  color:white;
  line-height: 15px;
  }
  
  h2 {
  color:white;
  font-family: "IBM Plex Sans";
  font-size: 50px;
    transition-duration: 0.15s;
  }
  
  h2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  width: 400px;
  transition-duration: 0.15s;
  border-radius: 15px;
  }
  
  
  .title {
    color: grey;
    font-family: "IBM Plex Sans";
    font-weight:700;
      transition-duration: 0.15s;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:rgb(20,20,20);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  
  .button:hover {
    background-color: #6383ff;
  }
  
  @media screen and (max-width: 720px) {
    .column {
      width: 100%;
      display: block;
      padding: 0 10%;
    }
  
    h1 {
      line-height: 50px;
    }
  
    h2 {
      line-height: 5px;
    }
      
    h2 img {
        width: 300px;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25,25,25);
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: "IBM Plex Sans";
    display: block;
    color: white;
    background-color:rgb(25,25,25);
    text-align: center;
    padding: 16.5px 21px;
    text-decoration: none;
    border-left-color:rgb(25,25,25);
    transition-duration: 0.2s;
      border-left-style: solid;
    border-left-width:0px;
  }
  li p {
  padding-left:10px;
  padding-right:10px;
  }
  
  
  
  
  li a:hover {
    background-color: #fff;
    color: black;
    font-weight: 800;
    border-left-style: solid;
  border-left-color: #3e4ab5;
  border-left-width:10px;
  padding: 16.5px 30px;
  }
  
  div.card {
          position: relative;
  }
  
  
  hr{
          height: 1px;
          background-color: rgb(20, 20, 20);
          border: none;
  }
  
  
  body, html {
      height: 100%;
  }
  
  body, html {
      height: 100%;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/line.png");
  
    height: 30%;
  
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    position: relative;
  }
  

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .group a {
      border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left:40px;
    padding-right:40px;
    cursor: pointer;
    float: center;
    font-family: "IBM Plex sans";
    transition-duration: 0.15s;
    text-decoration: none;
    font-size:16px;
    font-weight: bold;
    background: #3d57d9;
  }
  
  
  .group a:hover {
  filter: brightness(0.80);
  transition-duration: 0.15s;
  }
